body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	text-shadow: #DDD 10px 5px 1px;
	font-variant: small-caps;
	font-size: 3em;
	font-weight: bold;
}

#main h1 {
	font-size: 4em;
}

p {
	text-align: justify;
	font-size: 1.8em;
}

li {
	text-align: justify;
	font-size: 1.8em;
}

#image {
	text-align: center;
}

.content {
	padding: 0 1em 0 1em;
	margin 0;
}

.black {
	margin 0;
	padding 0;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white {
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 70%;
	margin: 0;
	padding: 0;
	border: 16px solid #80a919;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
#start {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	margin: -70px auto auto -70px;
	vertical-align: middle;
	horizontal-align: center;
}
#start a:link, a:visited, a:active {
	display: block;
	width: 99%;
	height: 99%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(play1.png);
}
#start a:hover {
	background-image: url(play2.png);
}

#next {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 2px;
	bottom: 2px;
}
#next a:link, a:visited {
	display: block;
	width: 48px;
	height: 48px;
	background-image: url(next1.png);
}
#next a:hover {
	background-image: url(next2.png);
}

#prev {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 2px;
	bottom: 2px;
}
#prev a:link, a:visited, a:active {
	display: block;
	width: 48px;
	height: 48px;
	background-image: url(prev1.png);
}
#prev a:hover {
	background-image: url(prev2.png);
}

#end {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 2px;
	bottom: 2px;
}
#end a:link, a:visited {
	display: block;
	width: 48px;
	height: 48px;
	background-image: url(stop1.png);
}
#end a:hover {
	background-image: url(stop2.png);
}